@import url(http://fonts.googleapis.com/css?family=Nobile:400,400italic,700,700italic);
/*********************************************
 * GLOBAL STYLES
 *********************************************/
html, body 
{
	font-family: "Nobile", sans-serif;
	font-size: 36px;
  	color: black; 

    height: 100%;
    background: white;
  	background-color: white; 
  	margin: 0px;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap 
{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -120px;
}

#push 
{
    height: 120px;
}

.pull-right 
{
	float: right;
}

.ift2002 
{
  font-family: "Nobile", sans-serif;
  font-size: 36px;
  color: black; 
  padding: 40px 30px;
}

.document
{
	  font-size: 65%
}

/*********************************************
 * HEADERS
 *********************************************/
.ift2002 h1,
.ift2002 h2
{
  margin: 0 0 30px 0;
}

.ift2002 h3,
.ift2002 h4,
.ift2002 h5,
.ift2002 h6 
{
  margin: 0 0 5px 0;
}

.ift2002 h1 small,
.ift2002 h2 small,
.ift2002 h3 small,
.ift2002 h4 small,
.ift2002 h5 small,
.ift2002 h6 small
{
  color: #999;
  font-size: 65%
}

.header-bar
{   
	position:absolute;
    top:0;
    left:0;
    right:0;
    background: #ff7d00;
    padding-top: 12px;
    margin-bottom: 10px;          
}

/*********************************************
 * FOOTER
 *********************************************/
footer 
{
	padding: 30px 30px 10px 30px;
	background: #ff7d00;
	height: 80px;
	font-size: 20px;
	color: #ffffff;          
	text-shadow: rgba(0, 0, 0, 0.1) 0px -1px 0px;
}

footer address {
	display: block;
	font-style: normal;
	line-height: 20px;
}